<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>

    <form action="/new" method="POST" class="userForm">

        <div class="modalCont">


            <h2 class="head">Message</h2>
            <hr class="line">
            
    
            <div class="nameCont">
                <label for="name" class="name">Name</label>
                <input name="user" type="text" class="nameInput" placeholder="Enter your name...">
            </div>

             <div class="nameCont">
                <label for="userMsg" class="name">Message</label>
                <input  name = "text" type="text" class="nameInput" placeholder="Enter your message...">
            </div>


            <button type="submit" class="submitBtn">Submit</button>

            
        </div>



    </form>
    
</body>
</html>